<%- include('../Includes/begin.ejs') %>
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/startbootstrap-sb-admin-2/4.1.3/css/sb-admin-2.css">
    <link rel="stylesheet" href="../CSS/admin-dashboard.css">
    <link rel="stylesheet" href="../CSS/admin-profile.css">

    <div class="container-fluid">

        <div id="wrapper">

            <%- include('../Includes/user_nav.ejs') %>

                <section id="content-wrapper">
                    <main role="main" class="pt-5 main">
                        <!-- Header -->

                        <%- include('../Includes/admin_end.ejs') %>
                    </main>